{% extends 'usuarios/base.html' %}
{% block conteudo %}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Padaria Pãozinho de Ouro</title>
  <style>
    body {
      background-color: #f8f9fa; 
      color: #495057; 
    }

    .container {
      max-width: 800px; 
      margin: 50px auto; 
    }

    h2 {
      color: #067cfb; 
    }

    p {
      color: #fa0101; 
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Padaria "Pãozinho de Ouro"</h2>
    <p>
      Numa cidade alegre, a padaria "Pãozinho de Ouro" deu uma reviravolta ao lançar o "Pãozinho Expresso" via delivery ultra rápido. Com o Sr. Amadeus como o "Padeiro Relâmpago" e sua bicicleta "PãoCycle", as entregas eram feitas em minutos, trazendo não só pães fresquinhos, mas também muitas risadas. A cidade se encantou com a rapidez e humor, transformando cada entrega em uma festa. E assim, a "Pãozinho de Ouro" tornou-se um sucesso, entregando alegria e pães quentinhos por toda parte.
    </p>
  </div>

{% endblock %}