{% extends 'usuarios/base.html' %}
{% block conteudo %}



<div class="container mt-5">
    <h2>Cardápio</h2>
    <ul class="list-group">
        <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 1: Pão de Sal</span>
            <span>R$ 25,00/kg</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 2: Pão de Queijo</span>
            <span>R$ 19,99/kg</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 3: Pão Integral</span>
            <span>R$ 30,99/kg</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 4: Pizza Calabresa</span>
            <span>R$ 38,50/Gr</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 5: Pizza Portuguesa</span>
            <span>R$ 38,50/Gr</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 6: Pizza 4 Queijos</span>
            <span>R$ 38,50/Gr</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 7: Cachorro Quente</span>
            <span>R$ 10,99/Un</span>
          </li>
          <li class="list-group-item text-left" style="display: flex; justify-content: space-between;">
            <span>Item 8: Hamburgue</span>
            <span>R$ 14,99/Un</span>
          </li>
    </ul>
    <br>
    
  </div>

<div class="text-center">
    <a href="https://wa.me/5561993757642" target="_blank" class="btn btn-success">Chamar no WhatsApp</a>
</div>
  

  

{% endblock %}   